<div class="container">
  <div class="col s12">
    <h4>Our products</h4>
    <ng-container *ngIf="products$ | async as products; else loading">
    <div class="row">
        <div *ngFor="let product of products" class="products" class="col s12 m6">
          <div class="card blue-grey lighten-5">
            <div class="card-content black-text">
              <span class="card-title"><b>{{ product.name }}</b> ({{ product.sku }})</span>
              <p><b>Type:</b> {{ productTypes[product.type] }}</p>
              <p><b>Customer type:</b> {{ customerTypes[product.customerType] }}</p>
              <p><b>Valid value:</b> {{ product.validValue }}</p>
              <p><b>Price:</b> {{ product.price }}</p>
              <p><b>Recharge price:</b> {{ product.rechargePrice }}</p>
              <p><b>Vendor:</b> {{ product.vendor ? product.vendor.name : '-' }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>


<a (click)="showProductModal=true"
  class="btn-floating btn-large waves-effect waves-light red create-product-btn"
  title="Create a product">+</a>
<app-create-product (closeModal)="showProductModal=false" (productCreated)="fetchProducts()" [openModal]="showProductModal"></app-create-product>