/* You can add global styles to this file, and also import other style files */
@import "~ngx-smart-modal/ngx-smart-modal";
@import "~materialize-css/dist/css/materialize.min.css";


select {
  display: block !important;
}

input[type='checkbox'] {
    position: relative !important;
    margin-left: 10px;
    opacity: 1 !important;
    pointer-events: auto !important;
}

select[multiple] {
  height: 200px !important; 
}

.create-product__modal {
  max-width: 620px;
}

.nsm-dialog-btn-close {
  &:focus {
    background-color: transparent !important;
  }
}