<ngx-smart-modal #createProductModal identifier="createProductModal" [customClass]="'create-product__modal'" (onClose)="onModalClose()"
  (onDismiss)="onModalClose()">
  <div class="col s12">
    <div class="row">
      <h5 class="col s12">Create a product</h5>
      <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
        <div class="input-field col s6">
          <label for="name">Name</label>
          <input formControlName="name" type="text" id="name" class="validate">
        </div>
        <div class="input-field col s6">
          <label for="sku">SKU</label>
          <input formControlName="sku" id="sku" type="text">
        </div>
        <div class="select-field col s12">
          <label for="customerType">Type</label>
          <select formControlName="type" class="create-product__select" id="type">
            <option [ngValue]="'BASIC_SINGLE'">Basic single</option>
            <option [ngValue]="'BASIC_VALID_HOURS'">Basic valid hours</option>
            <option [ngValue]="'PASS_LIMITED'">Pass limited</option>
            <option [ngValue]="'PASS_UNLIMITED'">Pass unlimited</option>
          </select>
        </div>
        <div class="select-field col s12">
          <label for="customerType">Customer type</label>
          <select formControlName="customerType" name="customer" id="customerType">
            <option [ngValue]="'ADULT'">Adult</option>
            <option [ngValue]="'CHILD'">Child</option>
          </select>
        </div>
        <div class="input-field col s6">
          <label for="validValue">Valid value</label>
          <input formControlName="validValue" type="number" id="validValue">
        </div>
        <div class="input-field col s6">
          <label for="price">Price</label>
          <input formControlName="price" type="number" id="price">
        </div>
        <div class="col s6">
          <label for="allowRecharge">Allow recharge</label>
          <input formControlName="allowRecharge" type="checkbox" id="allowRecharge">
        </div>
        <div class="input-field col s6">
          <label for="rechargePrice">Recharge price</label>
          <input formControlName="rechargePrice" type="number" id="rechargePrice">
        </div>
        <div class="col s12">
          <app-linked-lists #linkedLists (includesChanged)="updateIncludes($event)"></app-linked-lists>
        </div>
        <div class="col s12">
          <button [disabled]="productForm.invalid" class="waves-effect waves-light btn-small create-product__btn" type="submit">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>