.type {
  &__wrapper {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
  }
  &__lists {
    display: flex;
    justify-content: space-between;
  }
  &__src,
  &__dest {
    width: 48%;
  }
  &__btn {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ddd;
    color: #333;
    text-align: center;
    line-height: 1.5;
    background-color: #efefef;
    cursor: pointer;

    &:active {
      background-color: darken(#efefef, 10%);
    }

    &--all {
      width: 30%;
    }
    &--single {
      width: 70%;
    }
  }
}