<div [formGroup]="typesForm">
  <div class="type__wrapper">
    <div class="type__title">Include type</div>
    <div class="type__lists">
      <div class="type__src">
        <input #includeSrcFilter type="text" placeholder="Filter">
        <div class="type__btns">
          <a (click)="moveIncludes(true)" class="type__btn type__btn--all">>></a>
          <a (click)="moveIncludes()" class="type__btn type__btn--single">></a>
          <select multiple formControlName="includeSrc">
            <ng-container *ngFor="let product of typesSrc">
              <option *ngIf="filterOption(includeSrcFilter.value, product.name, product.sku)" [ngValue]="product.id">{{product.name}}({{product.sku}})</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="type__dest">
        <input #includeDestFilter type="text" placeholder="Filter">
        <div class="type__btns">
          <a (click)="moveIncludes(false, true)" class="type__btn type__btn--single"><</a>
          <a (click)="moveIncludes(true, true)" class="type__btn type__btn--all"><<</a>
          <select multiple formControlName="includeDest">
            <ng-container *ngFor="let product of includeDest">
                <option *ngIf="filterOption(includeDestFilter.value, product.name, product.sku)" [ngValue]="product.id">{{product.name}}({{product.sku}})</option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="type__wrapper">
    <div class="type__title">Pass type</div>
    <div class="type__lists">
      <div class="type__src">
        <input #passSrcFilter type="text" placeholder="Filter">
        <div class="type__btns">
          <a (click)="movePass(true)" class="type__btn type__btn--all">>></a>
          <a (click)="movePass()"  class="type__btn type__btn--single">></a>
          <select multiple formControlName="passSrc">
            <ng-container *ngFor="let product of typesSrc">
              <option *ngIf="filterOption(passSrcFilter.value, product.name, product.sku)" [ngValue]="product.id">{{product.name}}({{product.sku}})</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="type__dest">
        <input #passDestFilter type="text" placeholder="Filter">
        <div class="type__btns">
          <a (click)="movePass(false, true)" class="type__btn type__btn--single"><</a>
          <a (click)="movePass(true, true)" class="type__btn type__btn--all"><<</a>
          <select multiple formControlName="passDest">
            <ng-container *ngFor="let product of passDest">
              <option *ngIf="filterOption(passDestFilter.value, product.name, product.sku)" [ngValue]="product.id">{{product.name}}({{product.sku}})</option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>